# 忽略全部
*

# 允許這些檔案/資料夾
!.gitignore
!README.md
!qwen2vl/
!qwen2vl/**
!ultralytics/
!ultralytics/**

# 再忽略大檔與暫存
qwen2vl/models/
qwen2vl/vlm_outputs*/
ultralytics/runs/
ultralytics/weights/
ultralytics/datasets/
ultralytics/out_json_*/
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
**/.env
**/.venv/
**/.DS_Store
**/*.log
